<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harshit</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />

  </head>
  <body>
<img src="Images/header.JPG" alt="logo" id="header-img"> <!---- image taken from the provided screenshot -->  

    <div class="table">
      <%let count=1;%>
      <div class="tableHeader">
        <p>#</p>
        <p>name</p>
        <p>Last</p>
        <p class="buy-sell">Buy/Sell Price</p>
        <p>Volume</p>
        <p>base_unit</p>
      </div>
      <% dataArray.forEach(function(item){ %> <!--populating the rows with the array having top 10 entries -->
      <div class="tableRow">
        <p><%=count %></p>
        <p><%= item.name %></p>
        <p>&#8377;<%= item.last%></p>
        <p class="buy-sell">&#8377;<%= item.buy%> / &#8377;<%= item.sell %></p> <!--Adding the Indian Currency sign -->
        <p><%= item.volume %></p>
        <p><%= item.base_unit %></p>
      </div>
      <% count++}) %>
    </div>

  </body>
</html>
